@font-face {
    font-family: 'Million Dreams';
    font-style: normal;
    font-weight: 500;
    src: url('MillionDreams.otf'),
         url('milliondreams-webfont.woff2') format('woff2'),
         url('milliondreams-webfont.woff') format('woff');
}